@charset "utf-8";
/* CSS Document */
body{
	height:100%;
	width:100%;
	/*background-color:#9C3;*/
	background: rgb(199,228,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzOCUiIHN0b3AtY29sb3I9IiNjN2U0ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NyUiIHN0b3AtY29sb3I9IiNlY2VjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(199,228,255,1) 38%, rgba(236,236,236,1) 67%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(38%,rgba(199,228,255,1)), color-stop(67%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(199,228,255,1) 38%,rgba(236,236,236,1) 67%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(199,228,255,1) 38%,rgba(236,236,236,1) 67%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(199,228,255,1) 38%,rgba(236,236,236,1) 67%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(199,228,255,1) 38%,rgba(236,236,236,1) 67%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7e4ff', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */
}
.face{
	width:300px;
	height:30px;
}
hgroup{
	color:#03F;
}
/*********Header***********/
header{
	border-bottom:solid #333 2px;
}
header hgroup{
	text-align:center;
}
/*********Section (main)***********/

/*********Footer***********/
footer{
	border-top:solid #333 2px;
}
footer button.createProfile, footer button.login{
	float:right;
}
footer button.contacts{
	position:absolute;
	left:0px;
	bottom:0px;
}

